.downsection{
    margin-top:100px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.textcardside{
    width: 400px; 
    position: relative;
}
.textcardside h1{
    color: black;
    font-size: x-large;
    font-weight: bolder;

}
.textcardside p{
    color: lightgray;
    font-size: x-large;
    padding-bottom: 20px;
}


.downsectionimg{
    width: 35rem;
    height: 35rem;
}

@media screen and (max-width:992px) {
    .downsection{
        flex-direction: column;
       gap: 30px;
    }
}