
.BestDeal{
    margin-top: 50px;
    background-color: #fafafa;
    padding-bottom: 50px;
}
.topsection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.texttitle h1{
    color: #f35525;

}
.texttitle h2{
    font-size: xx-large;
    font-size: x-large;
    font-weight: bolder;
}
.buttons{
    display: flex;
    gap: 20px;
}
.buttons button{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: large;
    
}

.buttons button:hover{
    background-color: #f35525;
}

.downsection{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.textcardside{
    width: 500px; 
    position: relative;
}
.textcardside h1{
    color: black;
    font-size: x-large;
    font-weight: bolder;

}
.textcardside p{
    color: lightgray;
    font-size: x-large;
    padding-bottom: 20px;
}

@media screen and (max-width:992px) {
    .BestDeal{
        
        flex-direction: column;
        align-items: center;
    
    }
    .topsection{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .buttons{
        flex-direction: column;
    }
    .buttons button {
        width: 100px;
    }
    .downsection{
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
    .downsectionimg{
        margin-right: 20px;
        width: 50vw;
    }
    .textcardside{
        width: 100px; 
    }
    .cards{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}